*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 105%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container{
    background-color: rgb(38, 38, 39);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    align-items: center;
}

#bill-total-box{
    height: 100px;
    width: 80%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detail-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#remainder-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 42, 47);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#remainder-info, p, h3 {
    margin-left: 8%;
}

#span2, #span10, #span12, #span15{
    margin-left: 50px;
    color: rgb(28, 143, 101);
}

#bill-button{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    text-align: center; 
    margin-top: 20px;
    font-size: smaller;
}

#bill-input{
    width: 50%;
    padding: 5px;
}

#remainder-info, p{
    margin-top: 20px;
}
